.header {
    display: flex;
    justify-content: end;
}



.header a {
    text-decoration: none;
    color: black;
    font-size: 22px;
    margin: 3px;
    padding: 2px;
    font-weight: 50;
}

.header a:hover {
    color: cornflowerblue;
}

main {
    display: flex;
    justify-content: center;
    margin-top: 25vh;
}

#google-image {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}
#google-image p{
    justify-content: end;
}


#search-bar input {
    margin-bottom: 20px;
    padding: 5px;
    width: 35vw;
    height: 5vh;
    border-radius: 25px;
    border: 0.5px solid black;
    font-size: 30px;
}

#search-bar:hover {
    box-shadow: 10px;

}

#search-button {
    display: flex;
    justify-content: center;
}

#search-button input {
    width: 10vw;
    height: 5vh;
    font-size: 13px;
    border-radius: 25px;
    padding: 2px;
    border: 1px solid black;
}

#search-button input:hover {
    font-size: 15px;
}

.gsearch:hover{
    opacity: 0.5;
}