.header {
    display: flex;
    justify-content: end;
}

.header a {
    text-decoration: none;
    color: black;
    font-size:22px;
    margin: 3px;
    padding: 2px;
    font-weight: 50;
}

.header a:hover{
    color:cornflowerblue;
}

main {    
    display: flex;
    justify-content:center;
    margin-top: 20vh;
}

#google-image{
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}



#search-bar{
    height: 19px;
    border: 1px solid #dfe1e5;
    border-radius: 24px;
    display: flex;
    align-items: center;
    padding: 10px;
    margin: 20px;
    width: 584px;
}

#search-bar input{
    width: 100%;
    margin-left: 7px;
    border: none;
    font-size: 17px;
    box-shadow: none;
    outline: none;
}

#search-bar i{
    color:lightgray;
    padding: 2px;
}

#search-bar img{
    height: 25px;
    
    background: transparent;
}



#search-bar:hover {
    box-shadow: 10px;
    
}

#search-button {
    display: flex;
    justify-content: center;
    padding-top: 18px;
}

#search-button input{
    height: 36px;
    padding: 0px 16px 0px 16px;
    margin: 11px 7px 11px 7px;
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius:4px;
    font-family: arial, sans-serif;
    font-size: 14px;
}

#search-button input:hover, #search-bar:hover {
    box-shadow: 0 0 2px gray;
}